<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <script>
	</script>
	<!-- site background -->
	<div class="absolute bg-gray-800 w-screen h-screen" />
  </body>
</html>