<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ChatRoom</title>
</head>
<body>

	<script>
		// redirect to login page
		window.location.replace("/login");
	</script>

</body>
</html>